{:paths ["tasks" "test"]
 :min-bb-version "0.4.0"
 :tasks
 {:requires ([server :as s]
             [tasks :as t])
  docs t/docs
  lint (shell "clj-kondo" "--lint" ".")
  server (s/wait)
  test (do (s/start)
           (t/test *command-line-args*))}}
